{% extends 'main.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3" style="color: rgb(248, 240, 240);">CF Dashboard</h1>
        <p class="card-text" style="font-size: 25px; color: rgb(248, 240, 240);">Die</p>
        <p><a class="btn btn-primary btn-lg" href="/register" role="button">Get Started &raquo;</a></p>
    </div>
</div>
<section class="ingredient-section">
    <h1 class="card-title">Description </h1>
    <h6 class="card-subtitle mb-2 text-muted">Description about Description</h6>
    <br />
    <div class="card-deck">
{% endblock content %}